<h1>Short Urls</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Short Url</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Url</th>
            <th style="width: 30%">visitors</th>
            <th style="width: 30%">Short Url</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.url}}</td>
            <td>{{user.visitors}}</td>
            <td>http://localhost:3000/{{user.id}}</td>
            <td style="white-space: nowrap">
                <a href="http://localhost:3000/urls/{{user.id}}" target="_blank" class="btn btn-sm btn-primary mr-1">Route</a>
                <!-- <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button> -->
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>